<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1662645623997157</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>7c157a5430a04bb3469073c315ec7aac852f7130</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict>
					<key>consumerKey</key>
					<string>ntN9FyTgVSCBZxUIPyVs3EXjt</string>
					<key>consumerSecret</key>
					<string>q5WGy7668xbl6PHTu0ldKCk3bYI80ujhXnVtRhKdYBSjpVrkBU</string>
				</dict>
				<key>KitName</key>
				<string>Twitter</string>
			</dict>
			<dict>
				<key>KitInfo</key>
				<dict>
					<key>publish-key</key>
					<string>pub-c-b05fb098-3dd3-4778-8c32-9d9d66b4b1cd</string>
					<key>secret-key</key>
					<string>sec-c-MzY1ZmNkOTctMzhjYS00OTlhLWE4MTYtNzUzYzI3MmIyYzFl</string>
					<key>subscribe-key</key>
					<string>sub-c-b179ed66-d0cd-11e5-bcee-0619f8945a4f</string>
				</dict>
				<key>KitName</key>
				<string>PubNub</string>
			</dict>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>FacebookAppID</key>
	<string>1662645623997157</string>
	<key>FacebookDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbauth2</string>
		<string>fb-messenger-api</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>akamaihd.net</key>
			<dict>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>facebook.com</key>
			<dict>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>fbcdn.net</key>
			<dict>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>graph.facebook.com</key>
			<dict>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>pubsub.pubnub.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>We want to access your camera so you can talk face to face with friends in games.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We need your location to find nearby opponents and let your share your location with friends.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>We want to access your microphone to allow you to talk with friends.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We want to make it easy to share a photo with friends using your photo library.</string>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeAdd</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Quick Match</string>
			<key>UIApplicationShortcutItemType</key>
			<string>QuickMatch</string>
			<key>UIApplicationShortcutItemUserInfo</key>
			<dict>
				<key>name</key>
				<string>Dillon</string>
			</dict>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeAdd</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Invite Friend</string>
			<key>UIApplicationShortcutItemType</key>
			<string>InviteFriend</string>
			<key>UIApplicationShortcutItemUserInfo</key>
			<dict>
				<key>name</key>
				<string>Dillon</string>
			</dict>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeAdd</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Game Requests</string>
			<key>UIApplicationShortcutItemType</key>
			<string>FriendRequests</string>
			<key>UIApplicationShortcutItemUserInfo</key>
			<dict>
				<key>name</key>
				<string>Dillon</string>
			</dict>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
